article {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  a {
    font-weight: 600;
    text-decoration: underline;
  }

  h2,
  h3 {
    font-weight: 600;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  blockquote {
    background-color: #cbd5e1;
    border-radius: 0.375rem;
    padding: 1rem;
  }

  code {
    background-color: #2b303b;
    color: white;
    padding: 0.2rem;
    border-radius: 0.25rem;
    display: block;
    overflow-x: auto;
  }

  img {
    border-radius: 0.375rem;
    max-height: 20rem;
    margin: 0 auto 1rem;
  }

  ol>li {
    list-style-type: decimal;
    margin-left: 2rem;
  }

  ul>li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}