@font-face{font-family:'Inter var';font-style:normal;font-weight:100 900;font-display:swap;src:url('Inter-roman.var.woff2') format('woff2');font-named-instance:'Regular'}:root{font-family:'Inter var', sans-serif}