{% extends "base.html" %}

{% block head %}
<title>404 Not Found</title>
{% endblock head %}

{% block content %}
<section class="flex flex-col items-center text-center mx-2 md:mx-0 w-full h-full">
  <h1 class="font-bold text-6xl p-4">404</h1>
  <h2 class="font-bold text-2xl">Page Not Found</h2>
  <p class="mt-2 text-xl">Return <a class="underline" href="/">home</a>?</p>
</section>
{% endblock content %}