<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if page.title %}<title>{{ page.title }}</title>{% endif %}
	{% if section %}<title>{{ section.title }}</title>{% endif %}

	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00326e">
	<link rel="shortcut icon" href="/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#00326e">
	<meta name="msapplication-config" content="/favicon/browserconfig.xml">
	<meta name="theme-color" content="#00326e">

	<link href="/app.css" rel="stylesheet">
	<link href="/font.css" rel="stylesheet">

	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" rss.xml", trailing_slash=false)}}">

	{% if page.extra.desc %}<meta name="description" content="{{ page.extra.desc }}">{% endif %}
	{% if section.extra.desc %}<meta name="description" content="{{ section.extra.desc }}">{% endif %}

	{% block head %}{% endblock head %}
</head>

<body class="flex flex-col bg-gradient-to-br from-[#00326e] via-[#004dac] via-35% to-[#33d17a] text-white min-h-screen relative">
	<nav class="flex px-8 md:px-24 py-10 items-center justify-between">
		<a href="/">
			<img src="/img/logo.svg" width="96" height="96" alt="Logo" />
		</a>
		<div class="flex items-center gap-8 md:gap-16 text-lg">
			<a href="/work/">Work</a>
			<a href="/posts/">Blog</a>
			<a href="https://bcow.instatus.com/">Status</a>
		</div>
	</nav>

	{% block content %}{% endblock %}

	<div class="h-24"><br/></div>
	<footer class="flex flex-col gap-4 md:flex-row items-center bg-blue-900 px-8 md:px-24 py-8 justify-between absolute bottom-0 w-full">
		<div class="flex flex-col gap-4 md:flex-row md:gap-16 items-center">
			<a href="/">
				<img src="/img/logo.svg" width="56" height="56" alt="Logo" />
			</a>
			<a href="/legal/terms/">Terms</a>
			<a href="/legal/privacy/">Privacy</a>
			<a href="/contact/">Contact</a>
		</div>
		<a class="mt-4 md:mt-0" href="https://codeberg.org/video-prize-ranch">
			<img src="/img/codeberg.svg" height="28" width="28" alt="Codeberg logo" />
		</a>
	</footer>
</body>

</html>