{% extends "base.html" %}

{% block head %}
<link href="/article.css" rel="stylesheet">

<meta property="og:site_name" content="bcow.xyz" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ page.extra.desc }}" />
<meta property="og:image" content="{{ page.extra.img }}" />
<meta property="twitter:image" content="{{ page.extra.img }}" />
{% endblock head %}

{% block content %}
<header class="flex flex-col items-center text-center mx-2 md:mx-0 w-full">
  <div class="md:w-1/2">
    <h1 class="font-bold text-3xl">{{ page.title }}</h1>
    <p class="mt-1">{{ page.date }}</p>
    {% if page.updated %}
    <p class="mt-1">Last updated: {{ page.updated }}</p>
    {% endif %}
    <p class="text-lg mt-2">{{ page.extra.desc }}</p>
  </div>
</header>

<article class="self-center text-black text-lg mx-2 w-full md:mx-0 md:w-1/2 my-8 p-4 md:p-6 mb-56 md:mb-10 bg-white/90 rounded-md">
  {{ page.content | safe }}
</article>
{% endblock content %}