{% extends "base.html" %}

{% block head %}
<meta property="og:site_name" content="bcow.xyz" />
<meta property="og:title" content="List of blog posts" />
<meta property="og:type" content="website" />
<meta property="og:description" content="All of our blog posts." />
<meta property="og:image" content="/favicon/android-chrome-512x512.png" />
<meta property="twitter:image" content="/favicon/android-chrome-512x512.png" />
{% endblock head %}

{% block content %}
<div class="flex flex-row items-center justify-center gap-2">
	<h1 class="text-center font-bold text-3xl">Blog</h1>
	<a href="/rss.xml">
		<img class="invert" src="/icons/PhRss.svg" height="28px" width="28px" alt="RSS icon" />
	</a>
</div>

<section class="my-8 px-4 md:px-24">
	<div class="grid grid-cols-1 md:grid-cols-3 w-full gap-4 justify-around text-lg">
		{% for page in section.pages %}
		<a href="{{ page.permalink | safe }}">
			<div class="articleCard flex flex-col rounded-md w-full transition ease-in hover:scale-105">
				<img src="{{page.extra.img}}" class="max-h-48 object-cover rounded-t-md" alt="" />
				<div class="bg-sky-100/90 text-black p-4 rounded-b-md">
					<h2 class="text-xl font-bold">{{ page.title }}</h2>
					<p class="text-md">{{ page.date }}</p>
					<p class="text-lg">{{ page.extra.desc }}</p>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>
{% endblock content %}