{% extends "base.html" %}

{% block head %}
<meta property="og:site_name" content="bcow.xyz" />
<meta property="og:title" content="Our work" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Find our apps and projects." />
<meta property="og:image" content="/favicon/android-chrome-512x512.png" />
<meta property="twitter:image" content="/favicon/android-chrome-512x512.png" />
{% endblock head %}

{% block content %}
<header class="md:my-4 px-4 md:px-24">
  <h2 class="tracking-widest font-light text-lg">OUR WORK</h2>
  <h1 class="font-bold text-3xl">Apps</h1>
  <hr class="my-8">
</header>
<section class="md:my-4 px-4 md:px-24">
  <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4 justify-around text-lg">
    <a href="https://codeberg.org/rimgo/rimgo">
      <div class="flex flex-row items-center bg-sky-100/50 gap-2 flex p-4 rounded-md w-full">
        <img class="invert hue-rotate-180" src="/img/rimgo.svg" height="96px" width="96px" alt="rimgo logo" />
        <div>
          <h3 class="font-bold text-2xl">rimgo</h3>
          <p>An alternative frontend for Imgur.</p>
        </div>
      </div>
    </a>
    <a href="https://codeberg.org/video-prize-ranch/container">
      <div class="flex flex-row items-center bg-sky-100/50 gap-2 flex p-4 rounded-md w-full">
        <img src="/img/container.svg" height="96px" width="96px" alt="Container logo" />
        <div>
          <h3 class="font-bold text-2xl">Container</h3>
          <p>Quickly browse Docker Hub, without being watched.</p>
        </div>
      </div>
    </a>
    <a href="https://codeberg.org/Tubular/tubular-fe">
      <div class="flex flex-row items-center bg-sky-100/50 gap-2 flex p-4 rounded-md w-full">
        <img src="/img/tubular.svg" height="96px" width="96px" alt="Container logo" class="p-4" />
        <div>
          <h3 class="font-bold text-2xl">Tubular</h3>
          <p>The best way to watch YouTube. Beautiful, reliable, ad-free.</p>
        </div>
      </div>
    </a>
    <div class="flex flex-row items-center bg-sky-100/50 gap-2 flex p-4 rounded-md w-full">
      <div class="p-4 rounded-full w-fit">
        <img class="invert" src="/icons/PhCircleWavyQuestion.svg" height="48px" width="48px" alt="Circle wavy question icon" />
      </div>
      <div>
        <h3 class="font-bold text-2xl">Coming soon</h3>
        <p>More apps soon.</p>
      </div>
    </div>
  </div>
</section>
<section class="md:my-4 pb-4 px-4 md:px-24">
  <div class="flex flex-col md:flex-row gap-8 justify-between my-12">
    <div class="md:w-1/3">
      <div class="p-2 rounded-full bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="invert" src="/icons/PhCode.svg" height="40px" width="40px" alt="Code icon" />
      </div>
      <h2 class="font-bold text-2xl font-bold mt-4">Open source</h2>
      <p class="text-lg mt-2">You can contribute and improve the code, licensed under the <a class="underline"
          href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-3.0</a>.</p>
    </div>
    <div class="md:w-1/3">
      <div class="p-2 rounded-full bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="invert" src="/icons/PhRocketLaunch.svg" height="40px" width="40px" alt="Rocket launch icon" />
      </div>
      <h2 class="font-bold text-2xl font-bold mt-4">Efficient</h2>
      <p class="text-lg mt-2">Built with the latest technologies and designed to be efficient. No database required.</p>
    </div>
    <div class="md:w-1/3">
      <div class="p-2 rounded-full bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="invert" src="/icons/PhCalendarBlank.svg" height="40px" width="40px" alt="Calendar icon" />
      </div>
      <h2 class="font-bold text-2xl font-bold mt-4">Long-term support</h2>
      <p class="text-lg mt-2">We are committed to long-term support for our projects.</p>
    </div>
  </div>
</section>
{% endblock content %}